
/* button color  */
.btn-bg{
    
    background-color: rgb(235, 231, 231);
}
/* package highlight section  */
.highlight{
    background-color: 
    #3F87F5;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    padding-bottom: 10px;

}
/* budge style add  */
.budge-size{
    left: 85%;
}
a{
    text-decoration: none;
}

.toast-style{
    border-left: 6px solid blue;
}